* {
    margin: 0;
    padding: 0;
    color: black;
    /* font-family: roboto; */
    /* font-family: var(--regularFont); */
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    scroll-behavior: smooth;
    align-items: center;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none !important;
}

.gcDBiC:hover {
    background-color: rgb(229 219 219 / 37%) !important;
}

.jzGaAN {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    line-height: normal;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.jfrgbA {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    line-height: normal;
    padding-left: 0px !important;
    padding-right: 0px !important;
    word-break: break-word;
}

/* -------------- All Page Button -------------- */
#saveBtn {
    margin-left: 5px;
}

/* -------------- All Page Check Box -------------- */

.checkBox {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #317159;
    appearance: none;
    -webkit-appearance: none;
    outline: none; 
    cursor: pointer;
}

.checkBox:checked {
    background-color: #75CAAA;
    border-color: #75CAAA;
}